


#container {
  height: 800px;
  width: 300;
 display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

#box1 {
  
  background-color: green;
  
}
#box2 {
 
  background-color: red;
  
}
#box3 {
  
  background-color: aqua;
 
}
#box4 {
 
  background-color: tomato;
  
}
.navbar{
  height: 60px;
  border: solid 1px blue;
  display: flex;
 
}
li{
  list-style: none;
  display: inline;
  
}

.outerdiv{
  height: 200px;
  width: 200px;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerdiv{
  height: 100px;
  width: 100px;
  background-color: chocolate;
}