*{
    font-family: 'Times New Roman';
}
body{
    background-color: black;
}

big{
    color: green;
}
p{
    color: yellowgreen;
}

button{
    background-color: white;
    color: black;
}

h4{
    background-color: rgb(240, 15, 100);
}

h5{
    color: #ffff00;
}

#heading1 {
    color: pink;
}

.class1 {
    color: crimson;
}

#box{
    -ms-text-underline-position: under;
    color: white;
    background-color: red;
    
}
.part2{
    color: aqua;
    font-style: oblique;
    font-weight: bold;
    
}

#submit{
    color: goldenrod;
}

p{
    text-align: center;
}

.task1{
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.task2{
    font-family: 'Times New Roman';
    color: white;
    text-align: left;
}

#outerdiv{
    color: white;
    font-size: 25px;
    
}

#innerdiv{
    color: white;
    font-size: 10px;
}