*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("./amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: solid 2px transparent;
}

.border:hover{
    border: 1.3px solid white;
}

.address-first{
color: #CCCCCC;
font-size: 0.80rem;
margin-left: 15px;
}

.address-secound{
color: white;
font-size: 1rem;
margin-left: 3px;
}

.address-icon{
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
}